/*Forms*/
label {
    display: inline-block;
        position: relative;
}

.add {
    font-size: 18pt;
    color: green;
}
i.fa.fa-times {
    position: absolute;
    right: 0;
    top: 0;
}

/*end Forms*/

